{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if error %}
        <div class="alert alert-warning" role="alert">
            <span>{{ error }}</span>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# User's Profile Picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h1>{{ user.username }}'s Reviews</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}
        {% if reviews %}
            <ul class="media-list">
                {% for review in reviews %}
                    <li class="media review-item">
                        <div class="media-body">
                            <span class="float-right">
                                <small>{{ review.date }}</small>
                            </span>
                            <a href="{{ url_for('cars.user_detail', username=review.commenter.username) }}">
                                <strong>@{{ review.commenter.username }}</strong>
                            </a>
                            <p>
                                <b>Movie:</b> {{ review.movie_title }}<br>
                                <b>Content:</b> {{ review.content }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews found for this user.</p>
        {% endif %}
    </div>
</div>
{% endblock %}